body {
  background-color: #0e1820;
}

.loader {
  position: absolute;
  left: 35%;
  top: 50%;
}

.overlay {
  width: 100%;
  height: 680vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 2;
}

h1,
h2,
h4,
p {
  color: white;
  font-family: prompt, sans-serif;
}

select {
  color: white;
  font-family: prompt, sans-serif;
  border: none;
  background-color: #111;
  font-size: 1.3rem;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.selection-bar {
  background-color: #111;
}

.selection-bar > .row {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  font-family: prompt, sans-serif;
  font-size: 1rem;
}

.gun-info > h1 {
  font-size: 2.2rem;
  margin-left: 6.6%;
  margin-bottom: 2%;
  margin-top: 5.3%;
  font-weight: 100;
}

.gun-info > p {
  margin-left: 3%;
}

.selection-bar > .row > h1 {
  color: white;
}

.selection-bar > .row > h1:hover {
  cursor: pointer;
}

.gun-info {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  height: 100%;
  width: 100%;
}

.skin-divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: white solid 2px;
}

.exit {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .main-window {
    border: white solid 2px;
    position: fixed;
    width: 90%;
    height: 72%;
    margin-left: 5%;
    margin-right: 3%;
    background-color: #111;
    z-index: 3;
  }

  .weapon-skins {
    display: flex;
    height: 95vh;
    width: 90vw;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    background-color: #111;
    overflow: scroll;
    left: 4%;
    z-index: 3;
    border: grey solid 2px;
  }

  .overlay2 {
    width: 100%;
    height: 200vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 2;
  }

  .weapon-skins::-webkit-scrollbar {
    width: 1em;
  }

  .weapon-skins::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .weapon-skins::-webkit-scrollbar-thumb {
    background-color: blue;
    outline: 2px solid red;
  }

  .weapon-skins p {
    font-size: 1.2rem;
  }

  .weapon-skins > p {
    position: absolute;
    right: 1%;
  }

  .skin {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: white solid 2px;
    margin-right: 5%;
  }

  .skin-divider > img {
    margin-top: 3%;
  }

  .exit {
    position: fixed;
    right: 8%;
  }

  .exit > p {
    cursor: pointer;
  }

  .gun-info > p {
    font-size: 1.4rem;
  }

  .row > p {
    margin: 2% 3% 0%;
  }

  .row > .column {
    width: 50%;
  }

  .ability-row > img {
    width: 18%;
    margin-top: 5%;
    border: white solid 2px;
    cursor: pointer;
  }

  .gun > p {
    font-size: 2rem;
    margin-left: 7%;
  }

  .ability-row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .ability-description {
    width: 70%;
    height: 22%;
    position: fixed;
    bottom: 2%;
    left: 15%;
    background-color: #111;
    border: white solid 2px;
    overflow: auto;
  }

  .ability-description > .row {
    display: flex;
    justify-content: center;
  }

  .ability-description > .row > p {
    font-size: 1.4rem;
    margin-bottom: -3%;
  }

  .ability-description > .row > h4 {
    margin-left: 3%;
    margin-right: 3%;
  }

  .selector > h1 {
    font-size: 1.5rem;
    margin-left: 35%;
    margin-right: 30%;
  }

  .agents {
    margin-left: 60%;
  }

  .selector > .row {
    display: flex;
    justify-content: center;
    background-color: #111;
    margin-top: 2rem;
  }

  .gun-column {
    margin-left: 4%;
    margin-right: 4%;
  }

  .selector {
    background-color: #111;
  }

  .column-middle {
    display: none;
  }

  .column-right {
    display: none;
  }

  .character-column {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }

  .character {
    width: calc(100%/3);
    height: 33%;
  }

  #guns {
    margin-left: 70%;
  }

  .gun {
    border: white solid 2px;
    padding-bottom: 3%;
    position: relative;
  }

  .weapons {
    margin-top: 2rem;
  }

  .character > img {
    width: 80%;
    height: 80%;
    border: 3px white solid;
  }

  .gun > img {
    width: 100%;
    margin-top: 5%;
    padding-left: 3%;
  }

  .weapons > .sheriff > img,
  .weapons > .classic > img,
  .weapons > .frenzy > img {
    width: 60%;
    margin-left: 20%;
  }

  .row > .column > img {
    width: 90%;
    margin-top: 7%;
    margin-left: 5%;
    border: white solid 2px;
  }

  .main-window > .row > .column > img {
    width: 80%;
  }

  .main-window > .row > .column > p {
    margin-bottom: -2%;
  }

  .main-window > .row > .column > p:first-child {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1190px) {
  .character > p {
    font-size: 90%;
  }
}

@media screen and (min-width: 769px) {
  .character-info {
    display: flex;
  }

  .weapon-skins {
    height: 90vh;
    width: 90vw;
    position: fixed;
    background-color: #111;
    overflow: scroll;
    left: 5%;
    z-index: 3;
    border: white solid 2px;
  }

  .skin-divider > img {
    margin-top: 3%;
  }

  .weapon-skins::-webkit-scrollbar {
    width: 1em;
  }

  .weapon-skins::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .weapon-skins::-webkit-scrollbar-thumb {
    background-color: blue;
    outline: 2px solid red;
  }

  .weapon-skins p {
    font-size: 1.2rem;
  }

  .weapon-skins > p {
    position: absolute;
    right: 3%;
  }

  .skin {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .main-window {
    display: none;
  }

  .agents {
    margin-left: 10%;
    margin-bottom: 10%;
  }

  @keyframes slideinfromright {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  .animation-right {
    animation: 1s ease-in  slideinfromright;
  }

  @keyframes slideinfrombottom {
    0% {
      transform: translateY(100%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  .animation-bottom {
    animation: 1s ease-in  slideinfrombottom;
  }

  .column-middle > img {
    width: 180%;
    margin-left: -33%;
    margin-top: 10%;
  }

  .selector > h1 {
    margin-left: 20%;
  }

  div.role-wrapper > h1 {
    margin-bottom: -2%;
  }

  .selector > .row > h1 {
    font-size: 1rem;
  }

  .content > div {
    display: flex;
  }

  .content > h2 {
    font-size: 2rem;
    margin-bottom: -1%;
  }

  div.role-wrapper > h2 {
    margin-bottom: -2%;
  }

  .content > h2:first-child {
    font-size: 2rem;
    margin-bottom: -1%;
  }

  .column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3%;
    margin-top: 20%;
  }

  .column-third {
    width: 25%;
  }

  .column-middle {
    width: 45%;
    overflow: hidden;
  }

  .column-right {
    width: 30%;
  }

  .gun > p {
    font-size: 2rem;
    margin-left: 7%;
    margin-bottom: 6%;
  }

  .character > img {
    width: 90%;
    border: white 2px solid;
  }

  .abilities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .gun > img {
    width: 80%;
    margin-left: 15%;
    padding-bottom: 7%;
  }

  div.abilities > img {
    width: 20%;
    border: white solid 1px;
  }

  .ability-description {
    margin-top: 4%;
    border: white solid 2px;
  }

  .ability-description > .row {
    display: flex;
    justify-content: center;
  }

  .ability-description > .row > p {
    margin-right: 3%;
    margin-left: 3%;
  }

  .ability-description > .row > h4 {
    margin-top: -0.2%;
    margin-left: 3%;
    margin-right: 3%;
  }

  .ability-container {
    position: absolute;
  }

  .character-column {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
  }

  .content {
    margin-top: 40%;
  }

  #guns {
    margin-bottom: 2%;
    margin-left: 70%;
  }

  .gun {
    border: white 2px solid;
    position: relative;
  }

  .role-wrapper {
    display: flex;
    align-items: center;
  }

  div.role-wrapper > img {
    width: 7%;
    height: 7%;
    margin-left: 3%;
    margin-top: 8%;
  }

  .weapons > .sheriff > img,
  .weapons > .classic > img,
  .weapons > .frenzy > img {
    width: 60%;
    margin-left: 25%;
  }

  .character {
    width: 30%;
    height: 30%;
    margin-right: 3.3%;
  }

  .gun-column {
    display: flex;
    justify-content: center;
  }

  .weapons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
